
/* ---- reset ---- */

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */
@font-face {
  font-family: 'Bangers';
  src: url('./font/bangers-regular.ttf')
}

body {
  color: #111;
  line-height: 147%;
  background: lightskyblue;
  font-family: 'Luckiest Guy';
  text-shadow: 1px 1px 2px white;
}

h1 {
  padding: 20px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
  }
  .lives {
    flex: 1;
  }
  .score {
    flex: 1;
  }
  .label {
    font-weight: bold;
  }
  // .value {
  //   font-style: italic;
  // }
  .canvas {
    flex: 1;
  }
  .username {
    flex: 1;
  }
}


/* ---- splash ---- */

.splash {
  background: url(images/background-flat.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  text-align: center;
  font-size: 24px;
  flex-direction: column;
  justify-content: center;
  .user-input {
    margin-bottom: 0px;
    div {
      text-shadow: 1px 1px 2px black;
    }
  }
}



button {
  display: inline-block;
  border: none;
  padding: 20px 20px;
  margin: 20px;
  text-decoration: none;
  background: #001f3f;
  color: #ffffff;
  font-family: 'Black Ops One';
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover,
  &:focus {
    background: #001f3f;
  }
  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
  &:active {
    transform: scale(0.99);
  }
  &#instructions-button, &#return-button {
    background:  #FC1501AA;
  }
}


/* ---- instructions ---- */

p {
  margin: 20px 25px;
}

/* ---- gameover ---- */

.gameover {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  footer  {
    position: fixed;
    height: 50px;
    background-color: #FC1501AA;
    font-family: 'Ubuntu Mono';
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    p {
      margin: 0;
      padding: 0;
      line-height: 50px;
      a { 
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

/* ---- audio ---- */

audio {
  position: absolute;
  top: 10px; 
  right: 10px;
  width: 190px;
  opacity: 0.6;
}