
/* ---- reset ---- */

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */
@font-face {
  font-family: 'Bangers';
  src: url('./font/bangers-regular.ttf')
}

body {
  color: #111;
  line-height: 147%;
  background: lightblue;
  font-family: 'Black Ops One';
}

h1 {
  padding: 20px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .lives {
    flex: 1;
  }
  .score {
    flex: 1;
  }
  .label {
    font-weight: bold;
  }
  // .value {
  //   font-style: italic;
  // }
  .canvas {
    flex: 1;
  }
  .username {
    flex: 1;
  }
}


/* ---- splash ---- */

.splash {
  margin-top: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    flex: 1;;
    padding-top: 100px;
    margin-bottom: 40px;
  }
  div {
    flex: 1;
  }
  button {
    flex: 1;
  }
}



button {
  display: inline-block;
  border: none;
  padding: 20px 20px;
  margin: 20px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: 'Black Ops One';
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover,
  &:focus {
    background: #0053ba;
  }
  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
  &:active {
    transform: scale(0.99);
  }
  &#instructions-button, &#return-button {
    background: purple;
  }
}


/* ---- instructions ---- */

p {
  margin: 20px 25px;
}

/* ---- gameover ---- */

.gameover {
  margin-top: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    flex: 1;;
    padding-top: 100px;
    margin-bottom: 40px;
  }
  div {
    flex: 1;
  }
  button {
    flex: 1;
  }
}
